pcf-processes/src/main/resources/JobApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JobApplication" targetNamespace="urn:edu.uga.cs.pcf:pcf-services:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:edu.uga.cs.pcf:pcf-services:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:edu.uga.cs.pcf:pcf-services:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:edu.uga.cs.pcf:pcf-services:1.0">
  <xs:element name="Interview" type="tns:interview"/>
  <xs:element name="InterviewResult" type="tns:interviewResult"/>
  <xs:complexType name="interview">
    <xs:sequence>
      <xs:element minOccurs="0" name="interviewee" type="xs:string"/>
      <xs:element minOccurs="0" name="interviewer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="interviewResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="interviewee" type="xs:string"/>
      <xs:element minOccurs="0" name="interviewer" type="xs:string"/>
      <xs:element minOccurs="0" name="result" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="interview" nillable="true" type="tns:interview"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="applyResponse">
    <wsdl:part name="return" element="tns:interview">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="apply">
    <wsdl:part name="arg0" element="tns:interview">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JobApplicationPortType">
    <wsdl:operation name="apply">
      <wsdl:input name="apply" message="tns:apply">
    </wsdl:input>
      <wsdl:output name="applyResponse" message="tns:applyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobApplicationSoapBinding" type="tns:JobApplicationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="apply">
      <soap:operation soapAction="apply" style="document"/>
      <wsdl:input name="apply">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="applyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobApplication">
    <wsdl:port name="JobApplicationPort" binding="tns:JobApplicationSoapBinding">
      <soap:address location="http://localhost:8080/JobApplication/JobApplication"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
